.header__container {
  position: relative;
  width: 89%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 87%;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 63%;
    min-width: 1200px;
    max-width: 1920px;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $desktop-width) {
    left: 0;
    transform: translateX(0);
  }
}

.header__nav {
  position: relative;
}

.header__image {
  width: 130px;
  height: 34px;

  @media (min-width: $tablet-width) {
    width: 154px;
    height: 39px;
  }
}

.header__toggle-burger {
  position: absolute;
  top: 4px;
  left: -5px;
  background: transparent;
  border: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__toggle-search {
  position: absolute;
  top: 0;
  right: -6px;
  background: transparent;
  border: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
