@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2"), url("../fonts/Raleway-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2"), url("../fonts/Raleway-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2"), url("../fonts/Raleway-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2"), url("../fonts/Raleway-Medium.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2"), url("../fonts/Raleway-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2"), url("../fonts/Raleway-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.title {
  margin: 0;
  font-size: 21px;
  line-height: normal;
  font-weight: 400; }
  @media (min-width: 768px) {
    .title {
      font-size: 32px; } }

.button {
  display: block;
  width: 100%;
  padding: 22px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #e77800;
  border: none;
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 260px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  color: #000000; }
  @media (min-width: 768px) {
    .page {
      font-size: 16px; } }

.header {
  outline: 1px solid blue;
  min-height: 34px;
  margin: 23px 0 30px; }
  @media (min-width: 1200px) {
    .header {
      min-height: 39px;
      margin: 53px 0 121px; } }

.header__container {
  position: relative;
  width: 89%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .header__container {
      width: 87%; } }
  @media (min-width: 1200px) {
    .header__container {
      width: 63%;
      min-width: 1200px;
      max-width: 1920px; } }

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  @media (min-width: 1200px) {
    .header__logo {
      left: 0;
      transform: translateX(0); } }

.header__image {
  width: 130px;
  height: 34px; }
  @media (min-width: 768px) {
    .header__image {
      width: 154px;
      height: 39px; } }

.header__toggle-burger {
  position: absolute;
  top: 0;
  left: 0; }
  @media (min-width: 1200px) {
    .header__toggle-burger {
      display: none; } }

.header__toggle-search {
  position: absolute;
  top: 0;
  right: 0; }
  @media (min-width: 1200px) {
    .header__toggle-search {
      display: none; } }

.nav {
  position: relative; }
  .nav--closed {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 1200px) {
      .nav--closed {
        justify-content: flex-end;
        width: 81%;
        margin-left: auto; } }
    .nav--closed .nav__mobile-wrapper {
      display: none; }
      @media (min-width: 1200px) {
        .nav--closed .nav__mobile-wrapper {
          display: block; } }
  .nav--opened {
    position: absolute;
    top: 0;
    display: block;
    background-color: #ffd67a; }

@media (min-width: 1200px) {
  .nav__mobile-top {
    display: none; } }

.nav__toggle-closed {
  position: absolute;
  top: 0;
  right: 0; }
  @media (min-width: 1200px) {
    .nav__toggle-closed {
      display: none; } }

.nav__title {
  font-size: 21px;
  line-height: 40px; }

@media (min-width: 1200px) {
  .nav__list {
    display: flex; } }

@media (min-width: 1200px) {
  .nav-list__item {
    margin-left: 47px;
    padding: 10px 0; } }

.nav-list__link {
  line-height: 21px;
  font-weight: 700;
  color: #000000; }

@media (min-width: 1200px) {
  .nav-list__link-textmobile {
    display: none; } }

.main__container {
  outline: 1px solid red;
  width: 89%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .main__container {
      width: 87%; } }
  @media (min-width: 1200px) {
    .main__container {
      width: 63%;
      min-width: 1200px; } }

.main__promo {
  position: relative;
  outline: 1px solid green;
  margin-bottom: 37px;
  position: relative; }
  @media (min-width: 1200px) {
    .main__promo {
      position: relative;
      min-height: 381px;
      margin-bottom: 152px; }
      .main__promo::after {
        position: absolute;
        content: "";
        width: 474px;
        height: 338px;
        top: 6%;
        right: 6%;
        background-image: url("../img/promo-desktop.png");
        background-repeat: no-repeat;
        background-size: contain; } }

.promo {
  outline: 1px solid blue; }

.promo__title {
  font-size: 24px;
  width: 79%; }
  @media (min-width: 768px) {
    .promo__title {
      width: 62%; } }
  @media (min-width: 1200px) {
    .promo__title {
      font-size: 32px; } }

.promo__text {
  width: 50%;
  margin: 0;
  padding: 24px 0 31px;
  line-height: 21px; }
  @media (min-width: 768px) {
    .promo__text {
      width: 70%;
      line-height: normal; } }
  @media (min-width: 1200px) {
    .promo__text {
      width: 52%;
      line-height: normal;
      padding: 35px 0 61px; }
      .promo__text::before {
        display: none; } }

.promo__text-mobile {
  display: none; }
  @media (min-width: 1200px) {
    .promo__text-mobile {
      display: inline; } }

.promo__link-more {
  color: #e77800; }

.promo__form {
  position: relative;
  width: 100%; }
  .promo__form::before {
    position: absolute;
    content: "";
    width: 153px;
    height: 116px;
    top: 0;
    right: 6%;
    background-image: url("../img/promo-mobile.png");
    background-repeat: no-repeat;
    background-size: contain; }
  @media (min-width: 768px) {
    .promo__form {
      width: 56%; }
      .promo__form::before {
        display: none; } }
  @media (min-width: 1200px) {
    .promo__form {
      margin-bottom: 57px; } }

@media (min-width: 1200px) {
  .promo-form__wrapper {
    display: flex; } }

.promo-form__input {
  width: 100%;
  margin: 0 auto;
  padding: 24px 18px 20px;
  border: 1px solid #000000;
  background-color: #ffffff;
  line-height: normal; }
  @media (min-width: 768px) {
    .promo-form__input {
      width: 457px;
      margin-right: 20px; } }

.promo-form__text {
  font-size: 12px; }

@media (min-width: 1200px) {
  .promo-form__mobile {
    display: none; } }

.promo-form__desktop {
  display: none; }
  @media (min-width: 1200px) {
    .promo-form__desktop {
      display: inline-block; } }

.promo-form__btn {
  width: 100%; }
  @media (min-width: 768px) {
    .promo-form__btn {
      width: 69%; } }
  @media (min-width: 1200px) {
    .promo-form__btn {
      width: 29%; } }

.tracking-info-list {
  display: flex;
  justify-content: flex-start;
  width: 55%; }

.tracking-info-list__item {
  display: none; }
  @media (min-width: 1200px) {
    .tracking-info-list__item {
      display: flex;
      flex-direction: column;
      margin-right: 49px;
      width: 28%; }
      .tracking-info-list__item span {
        font-weight: 700; } }

.main__advantages {
  outline: 1px solid green;
  margin-bottom: 40px;
  background-color: #f8f0e6; }
  @media (min-width: 1200px) {
    .main__advantages {
      margin-bottom: 150px; } }

.advantages {
  outline: 1px solid blue;
  padding: 40px 12px 51px 10px; }
  @media (min-width: 1200px) {
    .advantages {
      padding: 150px 73px 146px; } }

.advantages__title {
  text-align: center;
  margin-bottom: 49px; }
  @media (min-width: 1200px) {
    .advantages__title {
      margin-bottom: 76px; } }

.advantages__list {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .advantages__list {
      flex-direction: row; } }

.advantages__item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-right: 15px;
  line-height: 21px;
  display: flex;
  justify-content: flex-end; }
  .advantages__item:not(:first-child) {
    margin-top: 85px; }
    @media (min-width: 1200px) {
      .advantages__item:not(:first-child) {
        margin-top: 0; } }
  .advantages__item:nth-child(2n) {
    justify-content: flex-start; }
    @media (min-width: 1200px) {
      .advantages__item:nth-child(2n) {
        justify-content: center; } }
  .advantages__item::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain; }
  .advantages__item--massege::after {
    width: 130px;
    height: 106px;
    bottom: 0;
    left: 0;
    background-image: url("../img/massege-mobile.png"); }
    @media (min-width: 1200px) {
      .advantages__item--massege::after {
        width: 196px;
        height: 160px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/massege-desktop.png"); } }
  .advantages__item--delivery::after {
    width: 129px;
    height: 130px;
    bottom: 0;
    right: 6%;
    background-image: url("../img/delivery-mobile.png"); }
    @media (min-width: 1200px) {
      .advantages__item--delivery::after {
        width: 194px;
        height: 195px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/delivery-desktop.png"); } }
  .advantages__item--information::after {
    width: 128px;
    height: 129px;
    bottom: 0;
    left: 6%;
    background-image: url("../img/information-mobile.png"); }
    @media (min-width: 1200px) {
      .advantages__item--information::after {
        width: 192px;
        height: 193px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/information-desktop.png"); } }
  @media (min-width: 1200px) {
    .advantages__item {
      line-height: 28px;
      justify-content: center; } }

.advantages__text {
  margin: 0;
  padding: 0;
  width: 45%;
  font-size: 16px; }
  @media (min-width: 768px) {
    .advantages__text {
      font-size: 21px; } }
  @media (min-width: 1200px) {
    .advantages__text {
      text-align: center;
      width: 82%;
      min-height: 287px;
      display: flex;
      align-items: flex-end; } }

.main__deliverys {
  outline: 1px solid green;
  min-height: 476px;
  margin-bottom: 36px; }
  @media (min-width: 1200px) {
    .main__deliverys {
      min-height: 439px;
      margin-bottom: 146px; } }

.deliverys {
  outline: 1px solid blue; }

.deliverys__title {
  width: 100%;
  padding: 40px 2px 25px;
  text-align: center; }
  @media (min-width: 1200px) {
    .deliverys__title {
      width: 60%;
      margin: 110px auto 17px; } }

.deliverys__text {
  line-height: 21px;
  width: 98%;
  margin: 0 auto 30px;
  text-align: center; }
  @media (min-width: 1200px) {
    .deliverys__text {
      line-height: 24px;
      width: 65%;
      margin-bottom: 57px; } }

.deliverys__company {
  width: 86%;
  margin: 0 auto; }

.deliverys-company {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr; }
  @media (min-width: 1200px) {
    .deliverys-company {
      display: flex;
      width: 98%;
      margin: 0 auto;
      justify-content: space-between; } }

.deliverys-company__item {
  text-align: center; }
  .deliverys-company__item--mobile {
    display: none; }
    @media (min-width: 1200px) {
      .deliverys-company__item--mobile {
        display: block; } }

@media (min-width: 768px) {
  .deliverys-company__title {
    font-size: 14px; } }

.deliverys__link-more {
  display: block;
  width: 100%;
  font-weight: 700;
  color: #e77800;
  text-align: center; }

.main__reviews {
  outline: 1px solid green;
  min-height: 489px;
  margin-bottom: 40px;
  background-color: #ebf0f4; }
  @media (min-width: 1200px) {
    .main__reviews {
      min-height: 729px;
      margin-bottom: 150px; } }

.reviews {
  outline: 1px solid blue; }

.reviews__author {
  font-weight: 700;
  font-style: normal; }

.review__title-desktop {
  display: none; }
  @media (min-width: 1200px) {
    .review__title-desktop {
      display: inline; } }

.main__description {
  outline: 1px solid green;
  margin-bottom: 53px; }

.description {
  outline: 1px solid blue;
  position: relative; }
  @media (min-width: 1200px) {
    .description::before {
      position: absolute;
      content: "";
      width: 332px;
      height: 589px;
      top: 25px;
      left: 0;
      background-image: url("../img/icongroupe-desktop.png");
      background-repeat: no-repeat;
      background-size: contain; } }

.description__content {
  width: 100%; }
  @media (min-width: 1200px) {
    .description__content {
      width: 63%;
      margin-left: 400px;
      margin-bottom: 149px; } }

@media (min-width: 1200px) {
  .description__title {
    margin-bottom: 30px; } }

@media (min-width: 1200px) {
  .description__text {
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 25px; } }

.description__text--mobile {
  display: none; }
  @media (min-width: 1200px) {
    .description__text--mobile {
      display: block; } }

.deskription__text-mobile {
  display: none; }
  @media (min-width: 1200px) {
    .deskription__text-mobile {
      display: inline-block; } }

.description__link-more {
  display: inline;
  color: #e77800; }
  @media (min-width: 1200px) {
    .description__link-more {
      display: none; } }

.footer {
  outline: 1px solid blue;
  background-color: #ffd67a; }

.footer__container {
  width: 89%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .footer__container {
      width: 87%; } }
  @media (min-width: 1200px) {
    .footer__container {
      width: 63%;
      min-width: 1200px;
      max-width: 1920px; } }

.footer__nav {
  padding: 58px 25px 0; }
  @media (min-width: 1200px) {
    .footer__nav {
      padding: 0; } }

.footer-nav {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .footer-nav {
      padding: 93px 0 42px;
      flex-direction: row; } }

.footer-nav__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 38px; }
  .footer-nav__wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background-image: url("../img/menu-line-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  @media (min-width: 768px) {
    .footer-nav__wrapper {
      margin-right: 0;
      padding: 0; }
      .footer-nav__wrapper::after {
        display: none; } }
  @media (min-width: 1200px) {
    .footer-nav__wrapper {
      margin-right: auto;
      padding: 0; }
      .footer-nav__wrapper::after {
        display: none; } }

.footer-nav__link {
  color: #000000;
  display: block;
  padding-bottom: 27px; }
  @media (min-width: 768px) {
    .footer-nav__link {
      text-align: center; } }
  @media (min-width: 1200px) {
    .footer-nav__link {
      text-align: start;
      padding-bottom: 0;
      font-weight: 700;
      line-height: 40px; } }

.footer__developer {
  padding: 25px; }
  @media (min-width: 1200px) {
    .footer__developer {
      padding-left: 0; } }

.developer__text {
  font-weight: 700;
  line-height: 24px;
  color: #d93b3e;
  margin: 0; }

.developer__link {
  color: inherit; }

/*# sourceMappingURL=style.css.map */
