html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: 21px;
  line-height: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $white;
  background-color: $goldorange;
  border: 0;
  cursor: pointer;

  // @media (min-width: $tablet-width) {
  //   width: 193px;
  // }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
