.developer__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: $lightred;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;

    &::before {
      position: absolute;
      content: "";
      width: 284px;
      height: 7px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/borderblack-desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;

    &::before {
      left: 0;
      top: -12px;
      transform: translateX(0);
    }
  }
}

.developer__link {
  color: inherit;
}
